.topp {
  background: rgb(179, 89, 0);
  margin: 0;
  padding: 30px;
  color: #fff;
}

.topp h1 {
  font-family: font-family: 'Pacifico', sans-serif;
}

.header {
  text-align: center;
}

.main-body {
  background: rgb(204, 102, 0);
  height: auto;
  padding: 0;
  padding-bottom: 150px!important;
  margin: 0;
}

.small{
  background: rgb(255, 153, 51);
  margin: 0;
  padding: 50px;
  height: auto;
}

.small h4 {
  color: rgb(255, 230, 179);
  font-weight: lighter;
  font-size: 13px;
}

.small h3 {
  color: #000;
  font-weight: lighter;
  font-size: 15px;
}

.small p {
  color: #fff;
  font-size: 15px;
}

.large {
  min-height: auto;
  max-height: auto;
  padding-left: 60px;
  padding-right: 30px;
}

.large h3 {
  font-size: 20px;
  color: rgb(51, 0, 51);
  font-weight: 100;
  letter-spacing: 1px;
}

.large h4 {
  color: rgb(255, 204, 255);
  letter-spacing: 1px;
}

.large p {
   color: #fff;
   letter-spacing: 1px;
}

.large li {
  color: rgb(51, 0, 51);
  line-height: 24px;
  letter-spacing: 1px;
}

.main-row2 {
  margin: 0;
  padding: 0;
  background: rgb(255, 179, 102);
}

.main-row {
  margin: 0;
  padding: 0;
}

.main-body2 {
  margin: 0;
  padding: 0;
}

.btn {
  margin: 2px 0 0 8px;
}

.btn:hover {
  background: rgb(51, 0, 51);
  color: #fff;
}

#myNumber {
  margin: 8px 0 0 8px;
}

#demo {
  margin-top: 15px;
  color: rgb(255, 204, 255);
}
