.topp {
  background: rgb(179, 89, 0);
  margin: 0;
  padding: 20px;
  color: #fff;
}

.header h1 {
  font-family: 'Pacifico', sans-serif!important;
  padding: 0 0 0 0;
  margin: 0;
  margin-bottom: 15px;
  width: auto;
}


.header h1:hover{
  cursor: pointer;
  color: rgb(51, 0, 51);
}

.header {
  text-align: center;
}

.main-body {
  background: rgb(204, 102, 0);
  height: auto;
  padding: 0;
  padding-bottom: 150px!important;
  margin: 0;
}

.small{
  background: rgb(255, 153, 51);
  margin: 0;
  padding: 50px;
  height: auto;
}

.small h4 {
  color: #000;
  font-weight: lighter;
  font-size: 13px;
}

.small h3 {
  font-size: 1.2em;
  color: rgb(51, 0, 51);
  font-weight: 100;
  letter-spacing: 1px;
  padding: 0;
}

.small p {
  color: rgb(0, 128, 0);
  font-size: 15px;
}

.large {
  min-height: auto;
  max-height: auto;
  padding-left: 60px;
  padding-right: 30px;
}

.large h3 {
  font-family: 'Cookie', cursive;
  font-size: 40px;
  color: rgb(51, 0, 51);
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

.large h4 {
  color: rgb(255, 204, 255);
  letter-spacing: 1px;
  font-family: 'Delius Swash Caps', cursive;
  font-size: 1.9em;
}

.large p {
   color: #fff;
   letter-spacing: 1px;
   font-family: 'Delius', cursive;
}

.large li {
  color: rgb(51, 0, 51);
  line-height: 24px;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-family: 'Delius', cursive;
}

.large ol {
  padding-bottom: 30px;
}

.main-row2 {
  margin: 0;
  padding: 0;
  background: rgb(255, 179, 102);
}

.main-row {
  margin: 0;
  padding: 0;
}

.main-body2 {
  margin: 0;
  padding: 0;
}

.btn {
  margin: 2px 0 0 8px;
  color: rgb(255, 204, 255);
  font-family: 'Ruluko', sans-serif;
  background: #331a00;
}

.btn:hover {
  background: #fff;
  color: #000;
}

#myNumber {
  margin: 8px 0 0 8px;
}

#myNumber:hover {
  cursor: pointer;
}

#demo {
  margin-top: 15px;
  color: rgb(255, 204, 255);
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 24px;
}

.small1 {
  padding: 5px;
  margin: 0;
}

.footer {
  text-align: center;
  color: #fff;
}

.small1 a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.small h4 {
  font-family: 'Delius Swash Caps', cursive;
  font-weight: bold;
}

.small1 p {
  margin: 0;
  padding: 0;
  color: rgb(128, 0, 64);
  font-family: 'Delius', cursive;
}

.small1 a:hover {
  font-size: 1.6em;
}

.bott {
  background: rgb(77, 31, 0);
  padding: 0;
  padding-top: 4px;
  margin: 0;
}

.footer p {
  font-size: 1em;
}
.fa-github-alt {
  font-size: 2.0em;
  text-align: center;
  color: #000;
  padding: 2px;
}

.fa-facebook-official {
  font-size: 2.0em;
  text-align: center;
  color: #0000ff;
  padding: 2px;
}

.fa-coffee {
  font-size: 2.0em;
  text-align: center;
  color: #cc0000;
  padding: 2px;
}
